<div class="country-detail">
    <h1>{{ country.country }}</h1>
    
    <div class="stats">
      <div class="stat-box">
        <h3>Participations</h3>
        <p>{{ totalParticipations }}</p>
      </div>
      <div class="stat-box">
        <h3>Total Médailles</h3>
        <p>{{ totalMedals }}</p>
      </div>
      <div class="stat-box">
        <h3>Total Athlètes</h3>
        <p>{{ totalAthletes }}</p>
      </div>
    </div>
  
    <div class="chart-container">
      <canvas id="medalsChart"></canvas>
    </div>
  
    <button class="btn-home" (click)="navigateHome()">Retour à l'accueil</button>
  </div>
  